/* #region RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion */

/* #region GENERAL */
body {
    height: 100vh;
    background: linear-gradient(to bottom,
            #009688 20%,
            #d4dbda 20%,
            #d4dbda 100%);
}

.img {
    max-width: 100%;
}

.container {
    width: 85%;
    min-width: 62.5rem;
    height: 100vh;
    padding: 1.5rem 0;
    margin: 0 auto;
}

.row,
.col {
    height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.app-header {
    height: 4.625rem;
    padding-left: .625rem;
    padding-right: 1.25rem;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action {
    color: #b1b1b1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
}

.text-container {
    margin: .3125rem;
}

/* #endregion */

/* #region CIRCLE */
.circle {
    border-radius: 50%;
}

.circle img {
    object-fit: cover;
    border-radius: 50%;
}

.circle-small {
    width: 3.125rem;
    height: 3.125rem;
}

.circle-small img {
    width: 3.125rem;
}

.circle-big {
    width: 3.875rem;
    height: 3.875rem;
    margin-right: 1.25rem;
}

.circle-big img {
    width: 3.75rem;
}

/* #endregion */

/* #region CHAT LIST */
.col-left {
    width: calc(100% / 3);
}

.col-left .app-main {
    height: calc(100% - 4.625rem);
    background-color: #ffffff;
}

.user {
    display: flex;
    align-items: center;
}

.user .circle {
    margin-right: .75rem;
}

.notif {
    height: 5.25rem;
    padding-left: 1.25rem;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}

.notif .circle {
    margin-right: .625rem;
    background-color: #ffffff;
    color: #8edafc;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    height: 3.25rem;
    padding: .625rem;
    background-color: #fafafa;
    display: flex;
    align-content: center;
}

.search button,
.search input {
    border: .0625rem solid #e7e7e7;
}

.search button {
    width: 4.625rem;
    background-color: #ffffff;
    color: #b1b1b1;
    cursor: pointer;
}

.search input {
    padding-left: .625rem;
    flex-grow: 1;
}

.chat-container {
    height: calc(100% - 5.25rem - 3.25rem);
    overflow-y: auto;
}

.chat {
    padding-left: 1.25rem;
    height: 5rem;
    border-bottom: .0625rem solid #f5f5f5;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.active {
    background-color: #e9ebeb;
}

/* #endregion */

/* #region CHAT CONTENT */

.col-right {
    width: calc(100% - (100% / 3));
    border-left: .0625rem solid #b1b1b1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-right .app-main {
    padding-top: 3.625rem;
    background-image: url(../img/mine.jpg);
    flex-grow: 1;
    overflow-y: auto;
}

.app-footer {
    height: 4.625rem;
    padding: .625rem 0;
    background-color: #f3eeea;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-user {
    display: flex;
    align-content: center;
}

.chat-user .text-container>small {
    color: #969494;
}

.message-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .625rem;
}

.message {
    width: 20.25rem;
    height: 3.5rem;
    padding-left: 1.125rem;
    padding-right: .5rem;
    padding-bottom: .3125rem;
    border-radius: .625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message .time {
    align-self: flex-end;
    color: #969494;
}

.message.sent {
    background-color: #d5f9ba;
    align-self: flex-end;
}

.message.received {
    background-color: #ffffff;
    align-self: flex-start;
}

.app-footer .action {
    margin: 0 2.5rem;
    color: #6b7376;
    font-size: 1.25rem;
}

.app-footer input {
    height: 3.25rem;
    padding-left: 1.125rem;
    border: none;
    border-radius: .3125rem;
    flex-grow: 1;
}

/* #endregion */