/* #region RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion */

/* #region GENERAL */
body {
    height: 100vh;
    background: linear-gradient(to bottom,
            #009688 9.375rem,
            #d4dbda 9.375rem,
            #d4dbda 100%);
}

.img {
    max-width: 100%;
}

/* #endregion */

/* #region MAIN */
.container {
    padding: 1.5rem 0;
    margin: 0 auto;
    max-width: 1300px;
    height: 100vh;
}

.row,
.col {
    height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-left {
    width: calc(100% / 3);
}

.col-right {
    width: calc(100% - (100% / 3));
    border-left: 1px solid #b1b1b1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app-header {
    min-height: 4.625rem;
    padding-left: .625rem;
    padding-right: 1.25rem;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.col-left .app-main {
    min-height: calc(100% - 4.625rem);
    background-color: #ffffff;
}

.col-right .app-main {
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
}

.app-footer {
    min-height: 4.625rem;
    background-color: #f3eeea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle {
    border-radius: 50%;
}

.circle-small {
    width: 3.125rem;
    height: 3.125rem;
}

.circle-big {
    width: 3.875rem;
    height: 3.875rem;
    margin-right: 20px;
}

.user {
    display: flex;
    align-items: center;
}

.notif {
    min-height: 5.25rem;
    padding-left: 1.25rem;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}

.notif .circle {
    margin-right: .625rem;
    background-color: #ffffff;
    color: #8edafc;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    min-height: 3.25rem;
    background-color: #fafafa;
}

.chat-container {
    overflow-y: scroll;
}

.chat {
    padding-left: 1.25rem;
    min-height: 5rem;
    border-bottom: 1px solid #f5f5f5;
    display: flex;
    align-items: center;
}

.circle img {
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.action {
    color: #b1b1b1;
}

/* #endregion */